@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: whitesmoke;
}

* {
    font-family: 'Lato', sans-serif;
}

header {
    height: 650px;
    background-image: url('https://picsum.photos/3000/650');
    width: 100vw;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
       
}

