@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --primary-color: #00bda7;
}

body {
    background-color: whitesmoke;
}

* {
    font-family: 'Lato', sans-serif;
}

header {
    height: 500px;
    background-image: url('https://picsum.photos/3000/500');
    width: 100vw;
    margin-left: calc(49% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
    margin-top: -10px!important;  
}

.card-title {
    height: 70px;
}

.navbar-brand, h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
}

.position-header {
    margin-top: -48px;
}

.text-extramuted {
    font-size: small;
    opacity: 0.6;
    
}

.text-extramuted:hover {
    opacity: 1;
    color: var(--primary-color)!important;
}

.card-link {
    text-decoration: none;
    transition: color 150ms ease-in-out;
   
}

.card-link:hover {
    color: var(--primary-color);
    
}

.eye-psw-button {
    width: 50px;
}

.see-all {
    color: var(--primary-color);
    text-decoration: none;
}

.see-all:hover{
    background-color: rgba(0, 189, 167, 0.1);
}

